
 
 @import "~bootstrap/scss/bootstrap";

 .container{
     padding-top: 20px;
 }

 #logo {
     float: left;
     font-size: 1.7em;
     color: #fff;
     text-transform: uppercase;
     letter-spacing: -1px;
     font-weight: bold;
 }
 #logo:hover {
     color: rgb(81, 14, 236);
     text-decoration: none;
 }
 .center {
     text-align: center;
 }
 .jumbotron {
    padding-top: 30px;
     background-image: url('../../../assets/images/img.jpg');
    // background-image: asset_url('img.jpg');
    background-size: cover;
    height: 350px;

 }
 .jumbotron h1{
     color: rgb(76, 148, 181);
     text-align: center;
     margin-bottom: 30px;
     letter-spacing: -1px;
     font-weight: bold;
 }
 .btn-xlarge{
     font-size: 0.7em;
     background-color: rgb(76, 159, 181);

 }
 .article-actions {
     border-top: 1px solid #eaeaea;
     padding-top: 5px;

 }

 .description {
     margin-top: 0;
 }
 .article-title{
     
     font-weight: bold;
     font-size: 1.5em;

 }
 .article-body {
     border-top: 1px solid #eaeaea;
     padding-top: 15px;
     padding-bottom: 15px;

 }

 .footer{
     margin-top: 45px;
     padding-top: 5px;
     border-top: 1px solid #eaeaea ;
     color: #777;
 }
 footer a:hover{
     color: #222;

 }
 footer small{
     float:left;
 }
 footer ul{
     float: right;
     list-style: none;
 }
 footer ul li{
    float: left;
    margin-left: 15px;
}