<div class=" center jumbotron">
  <h1 class="display-4"> Welcome to Subash Blog! </h1>
  
  <hr class="my-4">


<h1> <%= link_to "Signup","#", class: "btn btn-success btn-lg btn-xlarge" %> !</h1>

</div>
